@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200.. 700&display=swap');
@import   "variables.scss" ;

body {
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
    width: 100%;
    color: $special_dark-grey;
}
*,*::before,*::after{
    box-sizing: border-box;
}
a{
    text-decoration: none ;
    color: inherit;
}
.conteiner{
    max-width: $desktop;
    width: 100%;
    margin: 0 auto;
}